{% extends "!layout.html" %}

{% block extrahead %}
   <meta name="msvalidate.01" content="D5A5909342D175ECDD7E4665C7D97FAF" />
    <meta name="google-site-verification" content="j4hCo0t6GR5vApCuqjSQO_x2QhciBBRdhTPTHbTvUuI" />
    <meta name="description" content="Set up your VIZIO Smart TV quickly with our step-by-step guide. Visit vizio.com/setup to connect Wi-Fi, install updates, sign in, and start streaming with SmartCast today." />
    <meta name="keywords" content="vizio.com/setup, VIZIO TV setup, SmartCast TV guide, VIZIO Smart TV installation, connect VIZIO TV to Wi-Fi" />
    <meta name="robots" content="index, follow" />
    <title>How to Set Up Your VIZIO Smart TV – vizio.com/setup Guide</title>
    {{ super() }}
{% endblock %}
